:root {
  --g-bg-base: var(--g-gray-200);
  --g-bg-surface: var(--g-gray-300);
  --g-text-primary: var(--g-gray-950);
  --g-text-secondary: var(--g-gray-800);
  --g-text-tertiary: var(--g-gray-600);
  --g-text-accent: var(--g-orange-500);
  --g-link-text: var(--g-orange-500);
  --g-link-text-hover: var(--g-orange-600);
  --g-border-primary: var(--g-gray-800);
  --g-border-secondary: var(--g-gray-700);
  --g-selection-text: var(--g-gray-50);
  --g-selection-bg: var(--g-orange-500);
  --g-focus-ring: var(--g-orange-500);
  --g-action-primary-bg: var(--g-orange-500);
  --g-action-primary-bg-hover: var(--g-orange-600);
  --g-action-primary-border: var(--g-orange-500);
  --g-action-secondary-bg: var(--g-bg-surface);
  --g-action-secondary-bg-hover: var(--g-gray-400);
  --g-action-secondary-text: var(--g-text-primary);
  --g-action-secondary-border: var(--g-border-primary);
  --g-checkbox-border: var(--g-border-secondary);
  --g-checkbox-border-hover: var(--g-border-primary);
  --g-checkbox-mark: var(--g-text-primary);
  --g-switch-track: var(--g-gray-200);
  --g-switch-track-hover: var(--g-gray-300);
  --g-switch-track-border: var(--g-gray-400);
  --g-switch-track-border-hover: var(--g-gray-500);
  --g-switch-thumb: var(--g-gray-500);
  --g-switch-icon: var(--g-gray-50);
  --g-switch-track-checked: var(--g-yellow-50);
  --g-switch-track-checked-hover: var(--g-yellow-100);
  --g-switch-track-border-checked: var(--g-gray-600);
  --g-switch-track-border-checked-hover: var(--g-gray-800);
  --g-switch-thumb-checked: var(--g-orange-500);
  --g-switch-icon-checked: var(--g-gray-50);
  --g-radio-border: var(--g-border-primary);
  --g-radio-border-hover: var(--g-border-primary);
  --g-radio-mark: var(--g-text-primary);
  --g-slider-thumb: var(--g-gray-500);
  --g-slider-thumb-hover: var(--g-gray-700);
  --g-field-text: var(--g-text-primary);
  --g-field-placeholder: var(--g-text-secondary);
  --g-field-helper: var(--g-text-tertiary);
  --g-field-label: var(--g-text-tertiary);
  --g-field-border-hover: var(--g-border-primary);
  --g-field-border-focus: var(--g-orange-500);
  --g-field-invalid: var(--g-red-500);
}

:root,
[data-theme='dark'] {
  --g-action-primary-text: var(--g-gray-50);
  --g-field-bg: var(--g-gray-400);
  --g-field-bg-hover: var(--g-gray-500);
  --g-field-border: var(--g-gray-600);
  --g-slider-track: var(--g-gray-400);
}

[data-theme='light'] {
  --g-action-primary-text: var(--g-gray-950);
  --g-field-bg: var(--g-gray-50);
  --g-field-bg-hover: var(--g-gray-200);
  --g-field-border: var(--g-gray-600);
  --g-slider-track: var(--g-gray-400);
}
