:root {
  --g-checkbox-size: 12px;
  --g-radio-size: 16px;
  --g-radio-mark-size: 6px;
  --g-panel-padding: var(--g-space-8);
  --g-panel-padding-mobile: var(--g-space-5);
  --g-panel-radius: var(--g-radius-none);
  --g-dialog-inset: var(--g-space-4);
  --g-dialog-inset-mobile: var(--g-space-2);
  --g-dialog-padding: var(--g-space-4);
  --g-dialog-gap: var(--g-space-6);
  --g-dialog-header-gap: var(--g-space-4);
  --g-dialog-footer-gap: var(--g-space-4);
  --g-form-dialog-gap: var(--g-space-6);
  --g-form-dialog-body-gap: var(--g-space-6);
  --g-form-dialog-section-gap: var(--g-space-3);
  --g-form-dialog-section-header-gap: var(--g-space-2);
  --g-form-grid-column-gap: var(--g-space-5);
  --g-form-grid-row-gap: var(--g-space-6);
  --g-switch-width: 48px;
  --g-switch-height: 24px;
  --g-switch-thumb-size: 20px;
  --g-switch-icon-size: 10px;
  --g-slider-track-height: 2px;
  --g-slider-track-segment-width: 2px;
  --g-slider-track-segment-height: 8px;
  --g-slider-track-segment-gap: 2px;
  --g-slider-thumb-width: 12px;
  --g-slider-thumb-height: 24px;
}
